doctype html(xmlns='http://www.w3.org/1999/xhtml', lang='', xml:lang='')
head
    meta(charset='utf-8')
    | &#x9;
    title
    | &#x9;
    style(type='text/css').
        body {
            margin: 0;
            border: 0 none;
            padding: 0;
            text-align: center;
            background-color: #222226;
            font-family: 'Noto Sans', Arial, sans-serif;
        }
        label {
            font-family: 'Droid Sans', Arial, sans-serif;
            color: #e0e0e0;
            display: block;
            padding: 10px;
            margin: 3px;
        }
        input[type=date] {
            font-family: 'Droid Sans', Arial, sans-serif;
            background-color: #37353f;
            color: #e0e0e0;
            border: 1px solid #514f5d;
            border-radius: 1px;
            box-shadow: 0 0 1px 1px #2a2930;
        }
        input[type=time] {
            font-family: 'Droid Sans', Arial, sans-serif;
            background-color: #37353f;
            color: #e0e0e0;
            border: 1px solid #514f5d;
            border-radius: 1px;
            box-shadow: 0 0 1px 1px #2a2930;
        }
        input[type=range] {
            font-family: 'Droid Sans', Arial, sans-serif;
            background-color: #37353f;
            color: #e0e0e0;
            border: none;
        }
        /* Godot Engine default theme style
        * ================================ */
        .godot {
            color: #e0e0e0;
            background-color: #3b3943;
            background-image: linear-gradient(to bottom, #403e48, #35333c);
            border: 1px solid #45434e;
            box-shadow: 0 0 1px 1px #2f2d35;
        }
        button.godot {
            font-family: 'Droid Sans', Arial, sans-serif; /* override user agent style */
            padding: 1px 5px;
            background-color: #37353f;
            background-image: linear-gradient(to bottom, #413e49, #3a3842);
            border: 1px solid #514f5d;
            border-radius: 1px;
            box-shadow: 0 0 1px 1px #2a2930;
        }
        button.godot:hover {
            color: #f0f0f0;
            background-color: #44414e;
            background-image: linear-gradient(to bottom, #494652, #423f4c);
            border: 1px solid #5a5667;
            box-shadow: 0 0 1px 1px #26252b;
        }
        button.godot:active {
            color: #fff;
            background-color: #3e3b46;
            background-image: linear-gradient(to bottom, #36343d, #413e49);
            border: 1px solid #4f4c59;
            box-shadow: 0 0 1px 1px #26252b;
        }
        button.godot:disabled {
            color: rgba(230, 230, 230, 0.2);
            background-color: #3d3d3d;
            background-image: linear-gradient(to bottom, #434343, #393939);
            border: 1px solid #474747;
            box-shadow: 0 0 1px 1px #2d2b33;
        }
        /* Canvas / wrapper
        * ================ */
        #container {
            display: inline-block; /* scale with canvas */
            vertical-align: top; /* prevent extra height */
            position: relative; /* root for absolutely positioned overlay */
            margin: 0;
            border: 0 none;
            padding: 0;
            background-color: #0c0c0c;
        }
        #canvas {
            display: block;
            margin: 0 auto;
            color: white;
        }
        #canvas:focus {
            outline: none;
        }
        /* Status display
        * ============== */
        #status {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            /* don't consume click events - make children visible explicitly */
            visibility: hidden;
        }
        #status-progress {
            width: 244px;
            height: 7px;
            background-color: #38363A;
            border: 1px solid #444246;
            padding: 1px;
            box-shadow: 0 0 2px 1px #1B1C22;
            border-radius: 2px;
            visibility: visible;
        }
        #status-progress-inner {
            height: 100%;
            width: 0;
            box-sizing: border-box;
            transition: width 0.5s linear;
            background-color: #202020;
            border: 1px solid #222223;
            box-shadow: 0 0 1px 1px #27282E;
            border-radius: 3px;
        }
        #status-indeterminate {
            visibility: visible;
            position: relative;
        }
        #status-indeterminate > div {
            width: 3px;
            height: 0;
            border-style: solid;
            border-width: 6px 2px 0 2px;
            border-color: #2b2b2b transparent transparent transparent;
            transform-origin: center 14px;
            position: absolute;
        }
        #status-indeterminate > div:nth-child(1) { transform: rotate( 22.5deg); }
        #status-indeterminate > div:nth-child(2) { transform: rotate( 67.5deg); }
        #status-indeterminate > div:nth-child(3) { transform: rotate(112.5deg); }
        #status-indeterminate > div:nth-child(4) { transform: rotate(157.5deg); }
        #status-indeterminate > div:nth-child(5) { transform: rotate(202.5deg); }
        #status-indeterminate > div:nth-child(6) { transform: rotate(247.5deg); }
        #status-indeterminate > div:nth-child(7) { transform: rotate(292.5deg); }
        #status-indeterminate > div:nth-child(8) { transform: rotate(337.5deg); }
        #status-notice {
            margin: 0 100px;
            line-height: 1.3;
            visibility: visible;
            padding: 4px 6px;
            visibility: visible;
        }
        /* Debug output
        * ============ */
        #output-panel {
            display: none;
            max-width: 700px;
            font-size: small;
            margin: 6px auto 0;
            padding: 0 4px 4px;
            text-align: left;
            line-height: 2.2;
        }
        #output-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        #output-container {
            padding: 6px;
            background-color: #2c2a32;
            box-shadow: inset 0 0 1px 1px #232127;
            color: #bbb;
        }
        #output-scroll {
            line-height: 1;
            height: 12em;
            overflow-y: scroll;
            white-space: pre-wrap;
            font-size: small;
            font-family: "Lucida Console", Monaco, monospace;
        }
        #slider-container {
            font-family: 'Noto Sans', Arial, sans-serif;
            color: white;
        <!--white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;-->
        }
body
    #container
        canvas#canvas(oncontextmenu='event.preventDefault();', width='640', height='480')
            | HTML5 canvas appears to be unsupported in the current browser.
            br
            | &#x9;&#x9;&#x9;Please try updating or use a different browser.
        | &#x9;&#x9;
        #status
            #status-progress(style='display: none;', oncontextmenu='event.preventDefault();')
                #status-progress-inner
            | &#x9;&#x9;&#x9;
            #status-indeterminate(style='display: none;', oncontextmenu='event.preventDefault();')
                div
                | &#x9;&#x9;&#x9;&#x9;
                div
                | &#x9;&#x9;&#x9;&#x9;
                div
                | &#x9;&#x9;&#x9;&#x9;
                div
                | &#x9;&#x9;&#x9;&#x9;
                div
                | &#x9;&#x9;&#x9;&#x9;
                div
                | &#x9;&#x9;&#x9;&#x9;
                div
                | &#x9;&#x9;&#x9;&#x9;
                div
            | &#x9;&#x9;&#x9;
            #status-notice.godot(style='display: none;')
    | &#x9;
    #slider-container
        span
            // start-date:
            input#startDateInput(type='date', name='startDateInput')
            | &#x9;&#x9;&#x9;
            input#startTimeInput(type='time', name='startTimeInput')
            // <script>document.getElementById("startDateLabel").value = Date();</script>
            input#timeSlider.slider(type='range', min='0', max='0', value='0')
            // start-date:
            input#endDateInput(type='date', name='endDateInput')
            | &#x9;&#x9;&#x9;
            input#endTimeInput(type='time', name='endTimeInput')
            br
            // <script>document.getElementById("endDateLabel").value = Date();</script>
            label#sliderLabel
    | &#x9;
    #output-panel.godot
        #output-header
            | Output:
            button#output-clear.godot(type='button', autocomplete='off') Clear
            | &#x9;&#x9;&#x9;
            button#live-button.godot(type='button', autocomplete='off') Live
        | &#x9;&#x9;
        #output-container
            #output-scroll
    | &#x9;
    script(type='text/javascript', src='tmp_export.js')
    | &#x9;
    script(type='text/javascript').
        //<![CDATA[
        var engine = new Engine;
        //var token=new Uint8Array(8)
        //window.crypto.getRandomValues(token);
        //let tokenString = btoa(String.fromCharCode(...token));
        var tokenString="#{clientToken}";
        var serverAddress="#{hostAddress}";
        alert("Included token: "+ tokenString)
        var buildingId = 0;
        (function() {
            const BASENAME = 'tmp_export';
            const DEBUG_ENABLED = true;
            const INDETERMINATE_STATUS_STEP_MS = 100;
            var container = document.getElementById('container');
            var canvas = document.getElementById('canvas');
            var statusProgress = document.getElementById('status-progress');
            var statusProgressInner = document.getElementById('status-progress-inner');
            var statusIndeterminate = document.getElementById('status-indeterminate');
            var statusNotice = document.getElementById('status-notice');
            var initializing = true;
            var statusMode = 'hidden';
            var indeterminiateStatusAnimationId = 0;
            setStatusMode('indeterminate');
            engine.setCanvas(canvas);
            function setStatusMode(mode) {
                if (statusMode === mode || !initializing)
                    return;
                [statusProgress, statusIndeterminate, statusNotice].forEach(elem => {
                    elem.style.display = 'none';
                });
                if (indeterminiateStatusAnimationId !== 0) {
                    cancelAnimationFrame(indeterminiateStatusAnimationId);
                    indeterminiateStatusAnimationId = 0;
                }
                switch (mode) {
                    case 'progress':
                        statusProgress.style.display = 'block';
                        break;
                    case 'indeterminate':
                        statusIndeterminate.style.display = 'block';
                        indeterminiateStatusAnimationId = requestAnimationFrame(animateStatusIndeterminate);
                        break;
                    case 'notice':
                        statusNotice.style.display = 'block';
                        break;
                    case 'hidden':
                        break;
                    default:
                        throw new Error("Invalid status mode");
                }
                statusMode = mode;
            }
            function animateStatusIndeterminate(ms) {
                var i = Math.floor(ms / INDETERMINATE_STATUS_STEP_MS % 8);
                if (statusIndeterminate.children[i].style.borderTopColor == '') {
                    Array.prototype.slice.call(statusIndeterminate.children).forEach(child => {
                        child.style.borderTopColor = '';
                });
                    statusIndeterminate.children[i].style.borderTopColor = '#dfdfdf';
                }
                requestAnimationFrame(animateStatusIndeterminate);
            }
            function setStatusNotice(text) {
                while (statusNotice.lastChild) {
                    statusNotice.removeChild(statusNotice.lastChild);
                }
                var lines = text.split('\\n');
                lines.forEach((line, index) => {
                    statusNotice.appendChild(document.createTextNode(line));
                    statusNotice.appendChild(document.createElement('br'));
                });
            };
            engine.setProgressFunc((current, total) => {
                if (total > 0) {
                    statusProgressInner.style.width = current/total * 100 + '%';
                    setStatusMode('progress');
                    if (current === total) {
                        // wait for progress bar animation
                        setTimeout(() => {
                            setStatusMode('indeterminate');
                        }, 500);
                    }
                }
                else {
                    setStatusMode('indeterminate');
                }
            });

            var sliderValues=[]

            document.getElementById('timeSlider').addEventListener('change', () => {
                var dateTime = sliderValues[document.getElementById('timeSlider').value]
                controlSocket.send(JSON.stringify({buildingId: buildingId, dateTime: dateTime.getTime()}));
            });

            document.getElementById('timeSlider').addEventListener('input', () => {
                document.getElementById('sliderLabel').innerHTML = sliderValues[document.getElementById('timeSlider').value];
            });

            var controlSocket = new WebSocket("ws://"+serverAddress+"/control?clientToken="+tokenString);

            function updateSlider(){
                sliderValues=[]
                var startDate = document.getElementById("startDateInput").value
                var endDate = document.getElementById("endDateInput").value
                var startTime = document.getElementById("startTimeInput").value
                var endTime = document.getElementById("endTimeInput").value
                var startDateTime = new Date(startDate.toString()+"T"+startTime.toString()+":00")
                var endDateTime = new Date(endDate.toString()+"T"+endTime.toString()+":00")
                for (var i = new Date(startDateTime.getTime()); i <= endDateTime; i.setTime(i.getTime() + (60*60*1000))) {
                    sliderValues.push(new Date(i.getTime()))
                }
                document.getElementById('timeSlider').value = 0;
                document.getElementById('timeSlider').max = sliderValues.length - 1;
                document.getElementById('sliderLabel').innerHTML = sliderValues[0];
            }
            function isInputFilled(){
                return	document.getElementById("startDateInput").value!="" &&
                    document.getElementById("startTimeInput").value!="" &&
                    document.getElementById("endDateInput").value!="" &&
                    document.getElementById("endTimeInput").value!=""
            }
            document.getElementById('startTimeInput').addEventListener('change', () => {
                if(isInputFilled()){
                    updateSlider()
                }
            });
            document.getElementById('endTimeInput').addEventListener('change', () => {
                if(isInputFilled()){
                    updateSlider()
                }
            });
            document.getElementById('startDateInput').addEventListener('change', () => {
                if(isInputFilled()){
                    updateSlider()
                }
            });
            document.getElementById('endDateInput').addEventListener('change', () => {
                if(isInputFilled()){
                    updateSlider()
                }
            });
            if (DEBUG_ENABLED) {
                var outputRoot = document.getElementById("output-panel");
                var outputScroll = document.getElementById("output-scroll");
                var OUTPUT_MSG_COUNT_MAX = 400;
                document.getElementById('output-clear').addEventListener('click', () => {
                    while (outputScroll.firstChild) {
                        outputScroll.firstChild.remove();
                    }
                });
                document.getElementById('live-button').addEventListener('click', () => {
                    setInput(new Input(godotInputActions.clear_temp_data))
                    controlSocket.send(JSON.stringify({
                        buildingId: buildingId,
                        dateTime: null
                    }));
                });
                outputRoot.style.display = 'block';
                function print(text) {
                    while (outputScroll.childElementCount >= OUTPUT_MSG_COUNT_MAX) {
                        outputScroll.firstChild.remove();
                    }
                    var msg = document.createElement("div");
                    if (String.prototype.trim.call(text).startsWith("**ERROR**")) {
                        msg.style.color = "#d44";
                    } else if (String.prototype.trim.call(text).startsWith("**WARNING**")) {
                        msg.style.color = "#ccc000";
                    } else if (String.prototype.trim.call(text).startsWith("**SCRIPT ERROR**")) {
                        msg.style.color = "#c6d";
                    }
                    msg.textContent = text;
                    var scrollToBottom = outputScroll.scrollHeight - (outputScroll.clientHeight + outputScroll.scrollTop) < 10;
                    outputScroll.appendChild(msg);
                    if (scrollToBottom) {
                        outputScroll.scrollTop = outputScroll.scrollHeight;
                    }
                };
                function printError(text) {
                    if (!String.prototype.trim.call(text).startsWith('**ERROR**: ')) {
                        text = '**ERROR**: ' + text;
                    }
                    print(text);
                }
                engine.setStdoutFunc(text => {
                    print(text);
                    console.log(text);
                });
                engine.setStderrFunc(text => {
                    printError(text);
                    console.warn(text);
                });
            }
            engine.startGame(BASENAME + '.pck').then(() => {
                setStatusMode('hidden');
                initializing = false;
            }, err => {
                if (DEBUG_ENABLED) {
                    printError(err.message);
                    console.warn(err);
                }
                setStatusNotice(err.message);
                setStatusMode('notice');
                initializing = false;
            });
        })();
        //]]>
